# Backend port
PORT=4000

# Your frontend origin for CORS
FRONTEND_ORIGIN=http://localhost:3000

# Supabase Postgres connection (get from Supabase -> Project Settings -> Database)
SPRING_DATASOURCE_URL="jdbc:postgresql://aws-0-us-west-2.pooler.supabase.com:5432/postgres?user=postgres.glrnbhckujvrrlybewwt&password=bienvenidos"
SPRING_DATASOURCE_USERNAME=postgres.glrnbhckujvrrlybewwt
SPRING_DATASOURCE_PASSWORD=bienvenidos
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=3
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=0

# JWT secret for your API tokens (make it long and random)
JWT_SECRET=73a84bc8-3027-40da-adf1-f767800a7116
JWT_EXP_MINUTES=43200
